* {
  box-sizing: border-box;
  font-style: normal;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

ul,
ol,
li {
  list-style: none;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
  transition: $fast_transition;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  @include flexbox('h');
  font-family: $primary-font-family;
}

main,
header {
  max-width: 80rem;
}

footer {
  bottom: 0;
  font-size: .85rem;
  left: 0;
  padding: 1rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

i {
  &.ion-ios-plus.-big {
    cursor: pointer;
    font-size: 1.75rem;
    transition: $fast_transition;
    &:hover {
      transform: rotate(360deg) scale(1.1);
    }
  }
  &.-number {
    font-size: .95rem;
    color: $scorpion;
    @include media('md') {
      margin: 0;
    }
  }
  &.ion-edit {
    cursor: pointer;
    padding: .35rem;
    transition: $fast_transition;
    @include media('md') {
      margin-left: auto;
    }
  }
}

@include theme('default-theme');