.form__field {
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;
  > .form__field__title,
  > .form__field__input {
    font-size: 1.25rem;
  }
  > .form__field__title {
    bottom: 0;
    left: 0;
    margin: auto 0;
    max-height: 1.25rem;
    position: absolute;
    text-align: center;
    top: 0;
    transition: $fast_transition;
    width: 100%;
    z-index: 1;
    &--edit-mobile {
      font-size: .95rem;
      margin: 1.75rem 0;
      text-align: left;
      text-transform: uppercase;
    }
  }

  > .form__field__input {
    background: transparent;
    border: none;
    padding: 1.25rem 0 .5rem;
    position: relative;
    width: 100%;
    z-index: 2;
    &.active, {
      outline: none;
    }
    &.active ~ .form__field__title {
      font-size: .85rem;
      top: -2.5rem;
      white-space: nowrap;
      width: 0;
    }

    &.active ~ .form__field__title--edit-mobile
    &.active ~ .form__field__title--edit-desktop {
      text-transform: uppercase;
      top: -1.75rem;
      width: 100%;
    }
    
  }
}