.header{
  width: 100%;
  &--home {
    @include flexbox('v', 'flex-end');
    justify-content: center;
  }
  &--profile {
    margin-top: 1.5rem;
    padding: 1rem;
    text-align: right;
    @include media('md') {
      margin-top: 3rem;
      max-width: 64rem;
      width: 95%
    }
    @include media('xl') {
      width: 80%
    }
  }
  > .header__profile-data {
    @include flexbox('h');
    margin-top: 1rem;
    width: 100%;
    @include media('md') {
      justify-content: space-between;
    }
  }
  > .header__profile-data > .header__profile-data_image {
    @include flexbox('t');
    width: 100%;
    @include media('md') {
    width: 12rem;
  }
    &:after {
      background: url('../images/profile_image.jpg') center top;
      content: '';
      height: 8rem;
      width: 8rem;
      @include media('xs') {
        height: 12rem;
        width: 12rem;      
      }
      @include media('md') {
      width: 100%;
    }
    }
  }
  > .header__profile-data > .header__profile-data__name {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1rem 0;
  }
}