.main-section {
  &--home {
    @include media('xs') {
      margin: 2rem 0;
    }
    @include media('md') {
      margin: 0;
    }
  }
  &--profile {
    width: 100%;
    @include media('md') {
      max-width: 64rem;
      width: 95%
    }
    @include media('xl') {
    width: 80%;
  }
  }
}