.title {
  padding: .5rem;
  &--home {
    font-size: 3.5rem;
    font-weight: normal;
    position: relative;
    text-align: center;
    width: 100%;
    @include media('xs') {
      margin: 0;
    }
    @include media('md') {
      margin: 2rem 0;
    }
  }
} 