<header class="header header--profile">
  <button class="default-button default-button--transparent" id="logout">Log out</button>
  <section class="header__profile-data flexbox-container flexbox-container--center-horizontal">
    <figure class="header__profile-data_image"></figure>
    <h2 class="header__profile-data__name">nameValue</h2>
    <ul class="header__profile-data-list data-list data-list--header">
      <li class="data-list__item">
        <i class="ion-ios-telephone-outline"></i>
        phoneValue
      </li>
      <li class="data-list__item">
        <i class="ion-ios-location-outline"></i>
        directionValue
      </li>
      <li class="data-list__item">
        <article class="review-starts">
          <i class="ion-android-star"></i>
          <i class="ion-android-star"></i>
          <i class="ion-android-star"></i>
          <i class="ion-android-star"></i>
          <i class="ion-android-star-outline"></i>
        </article>
        <i class="-number">reviewsValue</i>
        Reviews
      </li>
      <li class="data-list__item">
        <i class="ion-ios-plus -big"></i>
        <i class="-number">followersValue</i>
        Followers
      </li>
    </ul>
  </section>
</header>
<section class="options options--mobile data-edit--about">
  <ul class="options__menu">
    <li class="options__menu__items swap_option active" name="about"><span>About</span></li>
    <li class="options__menu__items swap_option" name="settings"><span>Settings</span></li>
    <li class="options__menu__items swap_option" name="option1"><span>Option1</span></li>
    <li class="options__menu__items swap_option" name="option2"><span>Option2</span></li>
  </ul>
</section>
