<section class="data-edit data-edit--mobile data-edit--settings">
  <header>
    <h2 class="data-edit__option">Settings</h2>
    <i class="ion-edit"></i>
  </header>
  <ul class="data-edit__list data-list data-list--edit">
    <li class="data-list__item">
      <i class="ion-email"></i>
      Verify Email
    </li>
    <li class="data-list__item">
      <i class="ion-android-globe"></i>
      Activate two factor login
    </li>
    <li class="data-list__item">
      <i class="ion-android-call"></i>
      Change background
    </li>
  </ul>
</section>